openapi: 3.0.0
info:
  title: TickTick API
  description: "[TickTick](https://ticktick.com/) TODO task manager."
  version: 0.0.1

servers:
  - url: https://api.ticktick.com
    description: Optional server description, e.g. Main (production) server

components:
  securitySchemes:
    BasicAuth:
      description: "client_id:client_secret"
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://ticktick.com/oauth/authorize?scope={scope}&client_id={client_id}&state={state}&redirect_uri={redirect_uri}&response_type=code
          tokenUrl: https://{client_id}:{client_secret}@ticktick.com/oauth/token?code={code}&grant_type=authorization_code&scope={scope}&redirect_uri={redirect_uri}
          scopes:
            "tasks:write": ""
            "tasks:read": ""
paths:

  /oauth/token:
    post:
      summary: Get token
      description: "client_id and :client_secret are passes to basic auth as username and password"
      security:
        - BasicAuth: [ ]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  description: The code obtained in the second step
                grant_type:
                  description: grant type, now only authorization_code
                scope:
                  description: "spaces-separated permission scope. The currently available scopes are tasks:write, tasks:read"
                redirect_uri:
                  description: user-configured redirect url
      responses:
        "200":
          description: Successfully authorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string

  /open/v1/project:
    $ref: "project.yaml#/paths/~1open~1v1~1project"

  /open/v1/project/{projectId}:
    $ref: "project.yaml#/paths/~1open~1v1~1project~1{projectId}"

  /open/v1/project/{projectId}/data:
    $ref: "project.yaml#/paths/~1open~1v1~1project~1{projectId}~1data"

  /open/v1/project/{projectId}/task/{taskId}:
    $ref: "task.yaml#/paths/~1open~1v1~1project~1{projectId}~1task~1{taskId}"

  /open/v1/task:
    $ref: "task.yaml#/paths/~1open~1v1~1task"

  /open/v1/task/{taskId}:
    $ref: "task.yaml#/paths/~1open~1v1~1task~1{taskId}"

  /open/v1/project/{projectId}/task/{taskId}/complete:
    $ref: "task.yaml#/paths/~1open~1v1~1project~1{projectId}~1task~1{taskId}~1complete"
